<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div>
<h1>Login here :</h1>

<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="Username">
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="" value="Login">
</form>
</div>